<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--核心配置文件主要用于配置连接数据库的环境以及MyBatis的全局配置信息-->
<configuration>
    <!--<settings>-->
    <!--    <setting name="mapUnderscoreToCamelCase" value="true"/>-->
    <!--</settings>-->
</configuration>